{% comment %}
  The share buttons share the home page URL. The share text is grabbed from the store
  meta description.
{% endcomment %}

{% layout 'password' %}

<div
  class="password"
  data-section-id="{{ section.id }}"
  data-section-type="password"
>

  <button
    class="password__trigger bttn"
    type="button"
    data-trigger
    aria-label="{{ 'general.password_page.toggle_label' | t }}"
    >
    {% render 'icon' with icon: 'chevron-right' %}
  </button>

  <div class="password__main">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'branding' -%}
          <div
            class="password__logo"
            {% if block.settings.logo %}
              style="--width-max-logo: {{ block.settings.logo_max_width }}px;"
            {% endif %}
          >
            {%- if block.settings.logo -%}
              {% render 'responsive-image' with
                image: block.settings.logo,
                max_width: block.settings.logo_max_width,
              %}
            {%- else -%}
              <h1 class="type-heading-meta meta">
                {{ shop.name }}
              </h1>
            {%- endif -%}
          </div>

        {%- when 'heading' -%}
          <div class="password__heading">
            {%- unless block.settings.heading == blank -%}
              <h2 class="type-heading-display">{{ block.settings.heading }}</h2>
            {%- endunless -%}

            {%- assign message = block.settings.text | default: shop.password_message -%}
            {%- unless message == blank -%}
              <div class="type-heading-3">
                {{ message }}
              </div>
            {%- endunless -%}
          </div>

        {%- when 'newsletter_signup' -%}
          {% form 'customer', class: 'password__signup'= %}

          {{ form.errors | default_errors }}

          {%- if form.posted_successfully? -%}
            <ul class="form-success">
              <li>{{ 'general.password_page.signup_form_success' | t }}</li>
            </ul>
          {%- else -%}
            <input type="hidden" name="contact[tags]" value="prospect, password page">
            <label for="Email">
              {{ 'general.password_page.signup_form_email_label' | t }}
            </label>
            <input type="email"
              name="contact[email]"
              class="input-reset input"
              id="Email"
              spellcheck="false"
              autocomplete="off"
              autocapitalize="off"
              placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}">
          {%- endif -%}
        {% endform %}

        {%- when 'sharing' -%}
          {%- if settings.share_facebook or settings.share_twitter or settings.share_pinterest -%}
            <div class="password__sharing">
              {%- unless block.settings.text == blank -%}
                <p>{{ block.settings.text }}</p>
              {%- endunless -%}
              {% render 'social-sharing' %}
            </div>
          {%- endif -%}

      {%- endcase -%}
    {%- endfor -%}
  </div>

  <div class="password__login">
    <h4 class="type-heading-3">{{ 'general.password_page.login_form_heading' | t }}</h4>
    {% form 'storefront_password' %}
      {{ form.errors | default_errors }}
      <label for="Password">{{ 'general.password_page.login_form_password_label' | t }}</label>
      <input type="password"
        class="input-reset input"
        name="password"
        id="Password"
        placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
    {% endform %}
    <p class="type-body-small">{{ 'general.password_page.admin_link_html' | t }}</p>
  </div>
</div>

{% schema %}
  {
    "name": "t:sections.main_password.name",
    "tag": "section",
    "blocks": [
      {
        "type": "branding",
        "name": "t:sections.main_password.blocks.branding.name",
        "limit": 1,
        "settings": [
          {
            "type": "image_picker",
            "id": "logo",
            "label": "t:sections.main_password.blocks.branding.settings.logo.label"
          },
          {
            "id": "logo_max_width",
            "type": "range",
            "min": 50,
            "max": 350,
            "step": 10,
            "unit": "px",
            "label": "t:sections.main_password.blocks.branding.settings.logo_max_width.label",
            "default": 200
          }
        ]
      },
      {
        "type": "heading",
        "name": "t:sections.main_password.blocks.heading.name",
        "limit": 1,
        "settings": [
          {
            "id": "heading",
            "type": "text",
            "label": "t:sections.main_password.blocks.heading.settings.heading.label",
            "default": "Opening Soon"
          },
          {
            "id": "text",
            "type": "richtext",
            "label": "t:sections.main_password.blocks.heading.settings.text.label",
            "default": "<p>Find out when we open<p>"
          }
        ]
      },
      {
        "type": "newsletter_signup",
        "name": "t:sections.main_password.blocks.newsletter_signup.name",
        "limit": 1
      },
      {
        "type": "sharing",
        "name": "t:sections.main_password.blocks.sharing.name",
        "limit": 1,
        "settings": [
          {
            "id": "text",
            "type": "text",
            "label": "t:sections.main_password.blocks.sharing.settings.text.label",
            "default": "Spread the word"
          }
        ]
      }
    ]
  }
{% endschema %}