{%- if cart.item_count > 0 -%}
  <div data-quick-cart-footer>
    <footer class='quick-cart__footer'>
      {%- if cart.cart_level_discount_applications != blank -%}
        <div class='mt0 quick-cart__discounts'>
          <ul>
            {%- for discount_application in cart.cart_level_discount_applications -%}
              <li>{{ discount_application.title }} (-{{ discount_application.total_allocated_amount | money }})</li>
            {%- endfor -%}
          </ul>
        </div>
      {%- endif -%}

      {%- capture taxes_shipping_checkout -%}
        {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
          {{ 'cart.general.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
        {%- elsif cart.taxes_included -%}
          {{ 'cart.general.taxes_included_but_shipping_at_checkout' | t }}
        {%- elsif shop.shipping_policy.body != blank -%}
          {{ 'cart.general.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
        {%- else -%}
          {{ 'cart.general.taxes_and_shipping_at_checkout' | t }}
        {%- endif -%}
      {%- endcapture -%}

      {%- assign total = cart.total_price | money -%}

      <p class='ma0'>{{ 'cart.popup.quick_cart_note_html' | t: subtotal: total, shipping_taxes: taxes_shipping_checkout }}</p>
      <a
        class="quick-cart__checkout-button bttn bttn-full bttn--small no-ajax"
        href="{{ routes.cart_url }}"
      >
        {{ 'layout.cart.go' | t }}
      </a>
    </footer>
  </div>
{%- endif -%}